@import 'src/styles/colors.module';
@import 'src/styles/img-shade';

.slateCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  cursor: pointer;
  position: relative;

  &__visitWrapper {
    position: absolute;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 3px;
    z-index: 2;
    background-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.6) 100%, transparent);
    padding: 10px 10px 5px 0;
  }

  &__detailsIcon {
    color: $golden;
  }

  &__visitCount {
    color: $white;
    font-size: 13px;
    font-weight: 600;
  }

  &__imgWrapper {
    overflow: hidden;
    border-radius: 7px;
    width: 300px;
    height: 170px;
  }

  &__title {
    color: $white;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
}