@import 'src/styles/colors.module';

.btn {
  padding: 6px 15px;
  background-color: $golden;
  color: $lighter-black;
  font-weight: 600;
  border: 2px solid $golden;
  transition: all .25s ease-in-out;
  cursor: pointer;
  font-size: 14px;
  line-height: normal;

  &.noFill {
    background-color: transparent;
    color: $golden;
  }
}