@import 'src/styles/colors.module';

.user {
  display: flex;
  align-items: center;
  cursor: pointer;

  &__name {
    color: $white;
    font-size: 12px;
    margin-right: 10px;
    font-weight: 500;
  }
}