@import 'src/styles/colors.module';

.user {
  display: flex;
  align-items: center;
  cursor: pointer;

  &__name {
    color: $dark-gray;
    font-size: 13px;
    margin-right: 10px;
    font-weight: 600;
  }

  &__imgWrapper {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
  }

  &__img {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-color: $white;
  }
}