@import 'src/styles/colors.module';
@import 'src/styles/variables.module';

.user {
  display: flex;
  align-items: center;
  cursor: pointer;

  &__name {
    color: $white;
    font-size: 12px;
    margin-right: 10px;
    font-weight: 500;
  }

  @media screen and (max-width: $sm) {
    &__name {
      display: none;
    }
  }
}