@import 'src/styles/colors.module';

.star {
  color: $lighter-gray;
  width: 12px;
  font-size: 28px;
  cursor: pointer;
  overflow: hidden;
  font-style: unset;
  display: inline-block;

  &__isSelected {
    color: $golden;
  }

  &__addSelection {
    color: lighten($golden, 25%);
  }

  &__removeSelection {
    color: lighten($golden, 25%);
  }
}