@import 'src/styles/colors.module';
@import 'src/styles/variables.module';

.star {
  color: $lighter-gray;
  width: 12px;
  font-size: 29px;
  cursor: pointer;
  overflow: hidden;
  font-style: unset;
  display: inline-block;

  &__isSelected {
    color: $dark-red;
  }

  &__addSelection {
    color: lighten($dark-red, 25%);
  }

  &__removeSelection {
    color: lighten($dark-red, 25%);
  }

  @media screen and (max-width: $sm) {
    font-size: 20px;
  }
}