@import './src/styles/colors.module';

.menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $black;
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }

  & > a {
  }
}