@import 'src/styles/colors.module';
@import 'src/styles/variables.module';

.movieDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  opacity: 1;

  &__detailsSection {
    display: flex !important;
    gap: 50px;
    margin-top: 50px;
    top: calc(#{$homePageHeaderHeight} + 30px);
    scroll-behavior: smooth;
  }

  &__sidenavWrapper {
    position: sticky;
    align-self: flex-start;
    top: calc(#{$homePageHeaderHeight} + 30px);
  }

  &__data {
    min-width: 0;

    & > cite {
      margin-bottom: 20px;
    }
  }

  &__paragraphsWrapper {
    display: flex;
    flex-direction: column;
  }

  &__paragraph {
    scroll-snap-align: start;
    scroll-margin-top: calc(#{$homePageHeaderHeight} + 30px);
  }

  &__castAnchor {
    scroll-snap-align: start;
    scroll-margin-top: calc(#{$homePageHeaderHeight} + 30px);
  }

  &__castOverflow {
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: block !important;
      height: 8px;

      &-track {
        background-color: lighten($dark-gray, 5%);
      }

      &-thumb:horizontal {
        background-color: $lighter-gray;
        border-radius: 20px;
      }

      &-thumb:hover {
        background-color: darken($lighter-gray, 10%);
      }
    }
  }

  &__castWrapper {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    flex-wrap: nowrap;
    padding-bottom: 10px;
  }
}