@import 'src/styles/colors.module';

.movieDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  opacity: 1;

  &__detailsSection {
    display: flex !important;
    gap: 50px;
    margin-top: 50px;
  }

  &__sidenavWrapper {
    position: sticky;
    top: 0;
  }

  &__data {
    & > cite {
      margin-bottom: 20px;
    }
  }

  &__paragraphsWrapper {

  }
}