@import 'src/styles/colors.module';

.advancedOptionBtn {
  color: $golden;
  border: 1px solid $golden;
  border-radius: 5px;
  cursor: pointer;
}

.mobileAdvancedOptionBtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &__text {
    color: $golden;
    font-size: 15px;
    text-decoration: underline;
  }
}