@import 'src/styles/img-shade';
@import 'src/styles/colors.module';

.hero {
  width: 100%;
  height: 650px;
  background-color: $lighter-black;

  &__heroImgWrapper {
    position: relative;
    height: 100%;
    width: 100%;
  }

  &__heroImgShade {
    @include img-shade;
  }

  &__heroImg {
    background-image: url(src/assets/images/hero.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
}