.topRatedMoviePoster {
  height: 100%;
  max-height: 650px;
  width: 40%;
  position: relative;

  &__poster {
    height: 100%;
    width: 100%;
    border-radius: 3px;
    object-fit: cover;
  }

  &__releaseDatePosition {
    position: absolute;
    top: 50px;
    transform: translateX(-50%);
  }
}