@import 'src/styles/colors.module';
@import 'src/styles/variables.module';

.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 30px;
  border-radius: 5px;
  width: 450px;
  background-color: $black;
  border: 1px solid $dark-gray;

  @media screen and (max-width: $md) {
    background-color: transparent;
    border: none;
    padding: 0 20px 0;
    width: 100%;
  }
}