@import 'src/styles/variables.module';

.layout {
  height: 100vh;
  position: relative;
  display: flex;
  width: 100%;

  @media screen and (max-width: $xl) {
    flex-direction: column;
  }
}

.dataLayout {
  margin-left: 250px;
  padding-top: 35px;
  overflow-y: auto;
  width: 100%;

  @media screen and (max-width: $xl) {
    margin-left: 0;
    padding: 15px 0;
  }

  @media screen and (max-width: $md) {
    padding-top: 15px;
  }
}