@import 'src/styles/colors.module';

.movieCardRating {
  display: flex;
  align-items: center;
  gap: 4px;

  &__icon {
    color: $yellow;
  }

  &__rating {
    font-size: 14px;
    font-weight: 600;
    color: $white;

    &--dark {
      color: $lighter-black;
    }
  }
}