@import 'src/styles/colors.module';

.socialRatings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;

  &__items {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 25px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__value {
    color: $white;
    font-weight: 600;
    font-size: 18px;
  }

  &__shareWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__share {
    color: $white;
    font-size: 14px;
    font-weight: 600;
  }
}