// file used for importing variables into components

$white: #FFF;
$extra-light-gray: #F5F5F7;
$lighter-gray: #DDD;
$light-gray: #A4A7BD;
$extra-light-blue: #F8F9FD;
$blue: #3661ED;
$washed-blue: #535a76;
$golden: #DAA520;
$dark-blue: #1E2E48;
$dark-gray: #3F3F3F;
$light-green: #DFFAEF;
$dark-green: #105E27;
$light-red: #FDEEEC;
$red: #ED1C24;
$cyan: #52E1E3;
$black: #151515;
$facebook: #4267B2;

:export {
  white: $white;
  extraLightGray: $extra-light-gray;
  lighterGray: $lighter-gray;
  lightGray: $light-gray;
  extraLightBlue: $extra-light-blue;
  blue: $blue;
  washedBlue: $washed-blue;
  golden: $golden;
  darkBlue: $dark-blue;
  darkGray: $dark-gray;
  lightGreen: $light-green;
  darkGreen: $dark-green;
  lightRed: $light-red;
  darkRed: $red;
  cyan: $cyan;
  black: $black;
  facebook: $facebook;
}