@import 'src/styles/colors.module';

.title {
  font-size: 18px;
  color: $dark-gray;
  font-weight: 600;

  &:after {
    content: '';
    background-color: $red;
    width: 50px;
    height: 3px;
    display: block;
    margin-top: 5px;
  }
}