@import 'src/styles/colors.module';

.pictureLoading {
  height: 100%;
  width: 100%;
  background-color: darken($dark-gray, 5%);
  display: flex;
  align-items: center;
  justify-content: center;

  &__wrapperBorder {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 1px solid $red;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__wrapperBorderNone {
    border: none;
  }

  &__spinner {
    animation: rotation 1s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
}