@import 'src/styles/colors.module';

.hamburger {
  z-index: 102;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  height: 22px;
  width: 22px;

  &__pillar {
    z-index: 102;
    width: 22px;
    height: 3px;
    background-color: $golden;
    transition: transform .25s ease-in-out;
  }

  &--active &__pillar:first-of-type {
    transform: rotateZ(45deg) translate(4px, 5px);
  }

  &--active &__pillar:nth-of-type(2) {
    transform: translateX(-200px);
  }

  &--active &__pillar:last-of-type {
    transform: rotateZ(-45deg) translate(4px, -5px);
  }
}