@import 'src/styles/colors.module';
@import 'src/styles/variables.module';

.person {
  display: flex !important;
  gap: 50px;
  padding: 50px 35px 0 !important;

  &__data {
    display: flex;
    flex-direction: column;
    width: inherit;
  }

  &__dataHeader {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__posterNameWrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
  }

  &__name {
    font-size: 22px;
    font-weight: 600;
    color: $golden;
  }

  &__links {
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: $lg) {
    &__posterWrapper {
      display: none;
    }

    &__name {
      font-size: 22px;
    }
  }

  @media screen and (max-width: $lg) {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  @media screen and (max-width: $sm) {
    &__name {
      font-size: 18px;
    }
  }
}