@import 'src/styles/colors.module';

.dropdown {
  background-color: lighten($lighter-black, 5%);
  z-index: 10;
  position: absolute;
  border-top: 1px solid $golden;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
}