@import "./src/styles/colors.module";

.dots {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 12px;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transition: background-color .15s ease-in;
  cursor: pointer;
  border: 1px solid $lighter-black;

  &--active {
    background-color: $lighter-black;
  }

  &:hover {
    background-color: $lighter-black;
  }
}