@import "src/styles/colors.module";

.releaseDate {
  width: 90px;
  height: 120px;
  padding: 15px;
  background-color: $golden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 3;

  &__day {
    font-size: 35px;
    color: $white;
    font-weight: 600;
  }

  &__line {
    height: 2px;
    width: 25%;
    background-color: $white;
    margin-top: -5px;
  }

  &__monthYearWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2px;
  }

  &__month,
  &__year {
    font-size: 11px;
    color: $white;
    font-weight: 500;
  }

  &__month {
    text-transform: uppercase;
  }
}