@import 'src/styles/variables.module';

.shareIcon {
  filter: brightness(.85);

  &:hover {
    filter: brightness(1);
  }

  @media screen and (max-width: $sm) {
    height: 25px !important;
    width: 25px !important;
  }
}