@import 'src/styles/colors.module';

.lazyLoadedImg {
  overflow: hidden;
  height: 100%;
  min-height: 100%;
  width: 100%;
  border-radius: 5px;
  background-color: transparent;

  &.loaded {
    box-shadow: rgba(0, 0, 0, 0.35) 0px -2px 15px;
  }

  &__inner {
    padding-bottom: 150%;
    height: 0;
    position: relative;
  }

  &__img {
    filter: brightness(70%);
    height: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    display: block;
    position: absolute;
    opacity: 0;
    transition: transform .25s ease-in-out, opacity .4s ease-in-out;

    &:hover {
      transform: scale(1.15);
    }
  }

  &__imgLoaded {
    opacity: 1;
  }
}