@import "./src/styles/colors.module";

.arrow {
  position: absolute;
  width: 30px;
  height: 105px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background-color: $black;
  transition: width .15s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &__icon {
    fill: $white;
    stroke: $white;
  }

  &:hover {
    width: 45px;
  }
}