@import 'src/styles/colors.module';

.item {
  height: 100%;
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &__name {
    color: $white;
    font-size: 13px;
    text-transform: uppercase;
    transition: color .25s ease-in-out;
    font-weight: 500;
  }

  &:before {
    content: '';
    background-color: $red;
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    transform: scaleY(0);
    transition: transform 0.35s;
    transform-origin: bottom;
  }

  &:hover:before {
    transform: scaleY(1);
  }

  &.active:before {
    transform: scaleY(1);
  }

  &.active &__name {
    color: $red;
  }
}