@import 'src/styles/colors.module';
@import "src/styles/variables.module";

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 0;

  &__upper {
    z-index: 2;
  }

  &__lower {
    width: 100%;
    background-color: $black;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__lowerNav {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__copyright {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__logo {
    width: 25px;
    height: 25px;

    & path {
      stroke: lighten($dark-gray, 20%);
    }
  }

  &__rights {
    font-size: 11px;
    color: lighten($dark-gray, 20%);
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  &__recommendMe {
    color: $golden;
  }

  @media screen and (max-width: $sm) {
    &__lower {
      flex-direction: column;
      gap: 15px;
    }
  }
}