.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #151515FF;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

.loader__wrapper {
     display: flex;
     gap: 7px;
     height: 80px;
 }

.loader__pillar {
    background-color: #FFF;
    width: 6px;
    height: 100%;
    animation: pulse 1s infinite ease-in-out;
}

.loader__pillar:nth-of-type(2) {
     animation-delay: .1s;
 }

.loader__pillar:nth-of-type(3) {
     animation-delay: .15s;
 }

.loader__pillar:nth-of-type(4) {
     animation-delay: .2s;
 }

.loader__pillar:last-of-type {
     animation-delay: .25s;
 }

.logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: fixed;
    bottom: 35px;
    left: 50%;
    transform: translateX(-65%);
}

@keyframes pulse {
    0%,
    40%,
    100% {
        transform: scaleY(.5) translateX(-10px);
    }
    20% {
        transform: scaleY(1) translateX(0);
    }
}

@media screen and (max-width: 768px) {
    .loader__pillar {
        width: 4px;
        height: 70%;
    }

    .logo {
        transform: translateX(-50%);
    }
}