@import 'src/styles/colors.module';
@import 'src/styles/variables.module';

.likedList {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  padding: 0 35px;

  &__wrapper {
    display: flex;
    align-items: center;
    margin-top: 15px;
  }

  &__emptyWatchlist {
    color: white;
    font-weight: 400;
    font-size: 14px;
  }

  &__exploreLink {
    color: $golden;
    font-weight: 400;
    font-size: 14px;

    &:hover {
      color: $golden;
    }
  }

  @media screen and (max-width: $md) {
    padding: 0 20px;
  }
}
