@import 'src/styles/colors.module';
@import 'src/styles/variables.module';

.overview {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;

  &__genresWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__imdbLinkWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
  }

  &__userActivityWrapper {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  @media screen and (min-width: $md) {
    &__imdbLinkWrapper {
      display: none;
    }
  }
}