@import 'src/styles/colors.module';
@import 'src/styles/variables.module';

.stickySidenav {
  position: sticky;
  align-self: flex-start;
  top: calc(#{$homePageHeaderHeight} + 30px);
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}