@import 'src/styles/colors.module';
@import 'src/styles/variables.module';

.moviesTable {
  background-color: $black;
  padding: 17px 30px 25px;
  border-spacing: 0 10px;
  border-collapse: separate;
  border-radius: 10px;
  width: 100%;

  &__header {
    margin-bottom: 10px;
  }

  &__headerCell {
    color: $lighter-gray;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    padding: 5px 5px 15px 8px;
  }

  @media screen and (max-width: $md) {
    display: none;
  }
}