@import './src/styles/colors.module';

body {
  width: 100vw;
  height: 100vh;
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar {
    display: none;
  }
}

.decoratedLink {
  display: inline;
  box-shadow: inset 0 -.4em 0 rgba($red, .4);
  white-space: nowrap;
  cursor: pointer;
  transition: all .2s ease-in-out;
  font-size: inherit;
  text-decoration: none;
  color: inherit;

  &:hover {
    box-shadow: inset 0 -1em 0 rgba($red, .4);
  }
}