@import 'src/styles/colors.module';

.menuItem {
  color: $golden;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  &__link {
    text-decoration: none;
    font-size: 25px;
    color: $white;
    display: inline-block;

    &:first-letter {
      text-transform: uppercase;
    }
  }
}