@import 'src/styles/colors.module';
@import 'src/styles/variables.module';

.loginBtn {
  border: none;
  padding: 15px 25px;
  background-color: white;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-shadow: rgba($black, 0.15) 0px 4px 12px;
  outline: none;

  &__text {
    margin-left: 15px;
    margin-top: 1px;
    font-weight: 600;
    color: $dark-gray;
    white-space: nowrap;
  }

  @media screen and (max-width: $sm) {
    &__text {
      font-size: 13px;
    }
  }
}