@import 'src/styles/colors.module';

.movieCardRelease {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: default;

  &__yearIcon {
    color: $facebook;
  }

  &__year {
    font-size: 14px;
    font-weight: 500;
    color: $white;
  }
}