@import 'src/styles/footer';
@import 'src/styles/scrollbar';
@import 'src/styles/variables.module';

.home {
  @include footer-container;

  &__carouselWrapper {
    height: 70vh;
  }

  &__genresWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }

  &__sectionMoviesWrapper {
    display: grid;
    grid-auto-flow: column;
    padding-bottom: 15px;
    gap: 20px;
    overflow-x: auto;
    max-width: 100%;
    width: 100%;

    @include scrollbar;
  }

  &__lightSection {
    background: rgb(62,62,62);
    background: radial-gradient(circle, rgba(62,62,62,1) 0%, rgba(21,21,21,1) 0%, rgba(226,226,226,1) 100%);
  }

  &__topRevenuesWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    grid-auto-flow: dense;
    width: 100%;
  }

  @media screen and (max-width: $md) {
    &__singular {
      width: 100%;
    }

    &__topRevenuesWrapper {
      grid-template-columns: none;
    }
  }

  @media screen and (max-width: $sm) {
    &__topRevenuesWrapper {
      gap: 10px;
      grid-template-columns: 100%;
    }
  }
}