@import 'src/styles/colors.module';

.sidebar {
  display: flex;
  flex-direction: column;
  max-width: 250px;

  &__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 0;
  }
}