@import "src/styles/colors.module";

.rating {
  display: flex;
  align-items: center;
  gap: 10px;

  &__star {
    &:first-of-type {
      margin-left: 0;
    }
  }

  &__value {
    color: $yellow;
    font-weight: 600;
    font-size: 14px;
  }
}