@import './src/styles/colors.module';

.logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px 0;
  gap: 10px;

  &__icon {
    width: 25px;
    height: auto;
  }

  &__name {
    font-weight: 500;
    color: $white;
  }
}